/*
blanc : #dbc2ad
marron : #c9956b 

*/
/*Parralax*/
.heightTest {
  height: 200vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
.paralaxContainer {
  height: 400px;
  width: 100%;
  background-image: url(../img/bgParalax.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .paralaxContainer {
    display: none;
  }
}
/*Texte avec bouton*/
.texteContainer {
  width: 100%;
  height: auto;
  padding: 10px 0 10px 0;
  background-color: #dfa677;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.paragraphTexte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paragraphTexte p {
  width: 70%;
  height: fit-content;
  text-align: center;
  font-size: 1.3em;
}
@media screen and (max-width: 900px) {
  .paragraphTexte p {
    font-size: 1em;
  }
}

.paragraphTitle {
  height: fit-content;
  width: 100%;
  font-size: 2em;
  justify-self: center;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .paragraphTitle {
    font-size: 1.7em;
  }
}

.texteButton {
  margin: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #7a5b42;
  transition: all 0.2s linear;
}
.texteButton:hover {
  background-color: #3a2b1f;
}

.texteButton a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
